@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

section{
    border: solid 1px black;
}

body {
    min-height: 100vh;
    display: flex ;
    align-items: center ;
    padding: 20px ;
    justify-content: center ;
}

.container{
    position: relative;
    max-width:700px;
    width:100% ;
    padding: 25px;
}

.container header{
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width:100%;
    margin-top: 20px;
}

.form :where(.input-box input, .select-box){
    position: relative;
    height: 50px;
    font-size: 1em;
    width: 100%;
    outline: none;
    border: 1px solid rgb(99, 99, 99);
    padding: 0 15px;
    margin-top: 8px;
}

.form .column {
   display: flex;
    column-gap: 15px;
}

.form :where(.gender-option, .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender{
    column-gap: 5px;
}


.form :where( .gender input, .gender label){
    cursor: pointer;
}

.form .gender-box{
    margin-top: 20px;
}

.gender label{
    color: #707070;
}


.form .gender-box h3{
    font-size: 1em;
    font-weight:400 ;
    margin-bottom: 8px;
}

.addres :where(.select-box){
    margin-top: 0px;
}

.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1em;
}

.form button{
    height: 55px;
    width: 100%;
    font-size: 1em;
    border: none;
    margin-top: 30px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* In your CSS file */
.notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    transition: top 0.5s ease-in-out;
    z-index: 9999; /* Ensure it's on top of other elements */
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}





/****************** Responsive*************************/


@media screen and (max-width:550px){
    .form .column{
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender){
        row-gap:15px ;
    }
}


















