/* Global styles */
body {
  padding-top: 56px; /* Add padding to the top of the body */
}

/* Jumbotron styles */
.jumbotron {
  background-image: url("public/img/img1.jpeg"); /* Set background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
}

/* Button styles */
/*.btn-primary {
  background-color: #c60063;
  border-color: #c60063;
}
.btn-primary:hover {
  background-color: #eb82b7;
  border-color: #eb82b7;
}
.btn-secondary {
  background-color: transparent;
  border-color: #c60063;
  color: #c60063;
}
.btn-secondary:hover {
  background-color: #c60063;
  border-color: #ffffff;
  color: #ffffff;
}}*/

/* Color variables */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #2c2c54;
  --text-color: #333;
}

/* Body text color */
body {
  color: var(--text-color);
}

/* Primary button styles */
.btn-primary {
  background-color: green;
  border-color: var(--primary-color);
}
.btn-primary:hoover {
  background-color: rgb(5, 40, 5);
  border-color: var(--primary-color);
}

/* Light background styles */
.bg-light {
  background-color: var(--secondary-color) !important;
}

/* Hero section styles */
.hero-section {
  height: 100vh; /* Full viewport height */
  background-image: url('hero-bg.jpg'); /* Set background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Fix the background image */
}

/* Navbar styles */
.navbar {
  transition: background-color 0.5s ease; /* Smooth transition for background color change */
}

.navbar-brand,
.nav-link {
  color: aliceblue !important; /* Navbar brand and link color */
}

.navbar-brand:hover,
.nav-link:hover {
  color: rgb(204, 204, 204) !important; /* Navbar brand and link hover color */
}

.navbar.sticky {
  background-color: var(--secondary-color); /* Sticky navbar background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Navbar box shadow */
}

/* Card hover effect */
.card-hover {
  transition: transform 0.3s ease; /* Smooth transition for card hover effect */
}

.card-hover:hover {
  transform: translateY(-5px); /* Move the card up on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Service title styles */
.service-title {
  margin-bottom: 100px; /* Bottom margin for service title */
}

/* Footer text color */
.footer-text {
  color: aliceblue !important; /* Footer text color */
}

/* Login page styles */
.login {
  display: flex; /* Flex layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

/* Login card styles */
.card {
  max-width: 400px; /* Maximum width of the card */
  margin: auto; /* Center the card */
}

/* Login body background color */
.login-body {
  background-color: aliceblue; /* Login body background color */
}